<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo CRUD App</title>
</head>
<body>
<h1>Todos for today</h1>
<a href="/todo/add">Add new todo</a>
<a href="/todo/assignees">Assignee list</a>
<form th:action="@{/todo/search}" method="post" th:object="${todo}">
    <input
            type="text"
            name="search"
            id="search"
            th:value="${todo}"
    />
    <button type="submit">Search</button>
</form>
<table>
    <tr>
        <th>ID</th>
        <th>Action</th>
        <th>Done</th>
        <th>Urgent</th>
    </tr>
    <tr th:each="todos : ${todo}">
        <td th:text="${todos.getId()}"></td>
        <td th:text="${todos.getTitle()}"></td>
        <td th:text="${todos.isDone()}"></td>
        <td th:text="${todos.isUrgent()}"></td>
        <td>
            <a th:href="@{'/todo/delete/'+ ${todos.id}}">delete</a>
        </td>
    </tr>
</table>
</body>
</html>