<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<a href="/submit">Submit new post</a>
<br>
<h1>Trending posts</h1>
<table>
    <tr th:each="post : ${posts}">
        <td th:text="${post.getVotes()}"></td>
        <td><a th:href="@{'/upvote/'+ ${post.id}}">+</a></td>
        <td><a th:href="@{'/downvote/'+ ${post.id}}">-</a></td>
        <td><a th:href="${post.getUrl()}" th:text="${post.getTitle()}" target="_blank"></a></td>
        <td th:text="${post.getDate()}"></td>
    </tr>
</table>
<button type="submit"><a th:href="@{'/' + ${previous}}" th:name="previous" style="text-decoration: none">Previous page</a></button>
<button type="submit"><a th:href="@{'/' + ${next}}" th:name="next" style="text-decoration: none">Next page</a></button>

</body>
</html>