<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
<a href="/submit">Submit new post</a>
<br>
<h1>Trending posts</h1>
<table>
    <tr th:each="post : ${posts}">
        <td th:text="${post.getVotes()}"></td>
        <td><a th:href="@{'/upvote/'+ ${post.id}}">+</a></td>
        <td><a th:href="@{'/downvote/'+ ${post.id}}">-</a></td>
        <td><a th:href="${post.getUrl()}" th:text="${post.getTitle()}" target="_blank"></a></td>
        <td th:text="${post.getDate()}"></td>
    </tr>
</table>
<button type="submit"><a th:href="@{'/' + ${previous}}" th:name="previous" style="text-decoration: none">Previous page</a></button>
<button type="submit"><a th:href="@{'/' + ${next}}" th:name="next" style="text-decoration: none">Next page</a></button>

</body>
</html>